* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

header {
  background: #ffcd9e;
  width: 100%;
  height: 65vh;
  display: flex;
}

.design {
  padding: 100px 150px;
  flex: 3 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  flex: 1 1 300px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}
.about {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.text {
  font-size: 20px;
  font-weight: 800;
  align-self: flex-start;
  margin-bottom: 10px;
}

.text2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  align-self: flex-start;
  color: white;
}

.login {
  align-self: flex-start;
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.email {
  width: 300px;
  height: 64px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 32px;
  border: 4px solid black;
  border-radius: 8px;
  align-self: flex-start;
}

button {
  align-self: flex-start;
  width: 216px;
  height: 64px;
  border-radius: 8px;
  border: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: white;
  background: black;
}

footer {
  width: 100vw;
  height: 35vh;
  background-color: black;
  display: flex;
}

.features {
  flex:1 1 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 150px;

}

li {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: white;
  list-style: none;
}

.Socail-Medaia{
    flex:1 1 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  padding-right: 150px;
  }